@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'segeo';
  src: local('segoe-ui-light'), url("./fonts/segoe-ui-light.ttf") format("truetype") ;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
 */
@font-face {
  font-family: 'poppins';
  src: local('Poppins-Light'), url("./fonts/Poppins-Light.ttf") format("truetype") ;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



body {
  /*min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; font-family: 'segeo' ;*/
  font-family: 'poppins' ;
}


