@import './base.css';

.bg-metal-gray {
  background-color: #F1EFEA;
}

.bg-app-gray {
  background-color: #595959;
}


 .bg-app-header {
   background-color: #25889F;
 }

.bg-app-gray-second {
  background-color: #dad8d9;
}

.bg-app-primary {
  background-color: #E5B666;
}

.bg-app-secondary {
  background-color: #25889F;
}

.border-app-primary {
  --tw-border-opacity: 1;
  border-color: #E5B666;
}

.border-app-secondary {
  --tw-border-opacity: 1;
  border-color: #25889F;
}

.text-app-primary {
  --tw-text-opacity: 1;
  color: #E5B666;
}

.text-app-secondary {
  --tw-text-opacity: 1;
  color: #25889F;
}

.text-app-title {
  color: #4C4B4B;
}

.text-app-sub-title {
  color: #C9C4AD;
}

.badge-app-primary {
  border-color: transparent;
  --tw-bg-opacity: 1;
  background-color:  #E5B666;
  --tw-text-opacity: 1;
  color: white;
  border-radius: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.badge-app-secondary {
  border-color: transparent;
  --tw-bg-opacity: 1;
  background-color:  #25889F;
  --tw-text-opacity: 1;
  color: white;
  border-radius: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.badge-app-secondary-2 {
  border-color: transparent;
  --tw-bg-opacity: 1;
  background-color: #092b2b;
  --tw-text-opacity: 1;
  color: white;
  border-radius: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

a.active {
  background-color: #25889F;
  color: white;
  font-weight: bold;
}

a:hover {
  color: black !important;
}

